<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="QuitUserMapper">

	<resultMap type="quitUser" id="quitUserMap">
		<result property="userId" column="quit_user_id" jdbcType="VARCHAR"/>
		<result property="reason" column="reason" jdbcType="VARCHAR"/>
		<result property="quitDate" column="quit_date" jdbcType="DATE"/>
	</resultMap>
	
	<insert id="insertUser" parameterType="map">
		INSERT
		INTO quitusers(quit_user_id, reason, quit_date)
		VALUES( #{userId}, #{reason}, SYSDATE )
	</insert>
	
	<select id="getUserList" resultMap="quitUserMap">
		SELECT quit_user_id, reason, quit_date
		FROM quitUsers
	</select>

</mapper>